:root {
    --screen-grey: #737373;
    --light-grey: #dcdcdc;
    --scrollbar-color: #b2b2b2;
}

p {
    margin-top: 0;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./resources/Inconsolata-VariableFont_wdth\,wght.ttf');
  font-weight: 600;
}

/* CORE INTERFACE */
body {
    position: absolute;
    background-image: url("assets/retro-body.png");
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    padding: 0;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--screen-grey);
    font-family: "Inconsolata", monospace;
    letter-spacing: 0.2px;
    font-size: 11pt;
}

#main-window {
    position: absolute;
    height: 60%;
    width: 90%;
    background-image: url("assets/retro-screen.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    top: 8%;
    left: 5%;
}

#buttons {
    position: relative;
    height: 18%;
    width: 90%;
    top: 74%;
    left: 5%;
    box-sizing: border-box;
}

.button {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    color: white;
    transition: all .15s;

    letter-spacing: 1px;
    font-size: 12pt;
    font-family: 'Helvetica';
    font-weight: 400;
    /* font-style: italic; */

    /* Vertically centre */
    top: 50%;
    transform: translate(0, -50%);
}

/* pushing effect */
.button:active:enabled {
    transform: translate(0, -45%);
    transition: 0s;
}

#draw-button {
    position: absolute;
    background-image: url("assets/retro-button-square.png");
    height: 100%;
    width: 30%;
    left: 35%;
    border-radius: 5px;
}

.round-button {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 0 10px;

    left: 70%;
}

#save-write-button {
    background-image: url("assets/retro-write-button.png");
}

#delete-button {
    background-image: url("assets/retro-delete-button.png");
}

.button:disabled {
    opacity: 50%;
}

#edit-button {
    background-image: url("assets/retro-edit-button.png");
    position: absolute;
    left: 17%;
}

/* READING VIEW */
#display-div {
    position: absolute;
    text-align: left;
    overflow-y: scroll;
    height: 84%;
    width: 92%;
    top: 8%;
    left: 4%;
    box-sizing: border-box;
    padding: 0% 2%;
    hyphens: auto;
    overflow-wrap: break-word;
}

/* source of the text */
.attribution {
    text-align: right;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 2px;
    left: 20px;
    opacity: 50%;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}


/* WRITING MODE */
#input-div {
    visibility: hidden;  /* hidden only on launch */
    position: absolute;
    text-align: left;
    /* overflow: scroll; */
    height: 84%;
    width: 92%;
    top: 8%;
    left: 4%;
    box-sizing: border-box;
    padding: 0% 2%;
    color: var(--screen-grey);
}

textarea {
    position: relative;
    width: 100%;
    resize: none;
    background: transparent;
    border-width: 2px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    color: var(--screen-grey);
}

textarea::placeholder {
    opacity: 70%;
}

#new-text {
    height: 45%
}

#new-source{
    height: 20%
}

label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: relative;
    /* Position autocomplete items flush with the bottom of the input box */
    top: -10px;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid var(--light-grey);
}

.autocomplete-items div:hover {
    background-color: var(--light-grey);
}

.autocomplete-active {
    background-color: var(--scrollbar-color) !important;
    color: white
}